@tailwind base;
@tailwind components;
@tailwind utilities;

/* / width /  */
::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

/* / Track /  */
::-webkit-scrollbar-track {
  background: #fff;
}

/* / Handle /  */
::-webkit-scrollbar-thumb {
  background: #f15c20;
}

/* / Handle on hover /  */
::-webkit-scrollbar-thumb:hover {
  background: #f2652e;
  cursor: pointer;
}
